# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build directory
bin/

# others
.DS_Store

# Eclipse CBP
.project

# qtCreator
CMakeLists.txt.user*

# vim temporary files
*.swp
*.swo

# ctags
tags

# idea
.idea
